//
// Images
// --------------------------------------------------

/*
	To force correct aspect ratio for image container the bottom padding
	must be calculated within template in a <style> tag or inline, e.g.:

		<div class="img-box-width image loading" style="max-width: {{ IMAGE_WIDTH }};">
			 <div class="img-box-height" style="padding-bottom: {{ IMAGE_HEIGHT / IMAGE_WIDTH * 100 }}%;">
			 	<div class="img-wrap">
					 <img data-src="/images/...">

	Notes:
		- Border and padding can be added to `<img>` or `.img-wrap`

		- When a border is applied to the outer `.imb-box-width` element
		  the border-radius must be applied also to `.img-wrap`

		- For inline images the outer `.img-box-width` container element
		  must have `width` defined instead of `max-width`

		- For inline images the `display` property of the parent element
		  that wraps `<img>` must be `inline`
*/

.proportional-images(@image-bg) {

	.img-box-width {
		width: 100%;

		&.image-inline {
			display: inline-block;
		}

		.img-box-height {
			position: relative;
			height: 0;
		}

		.img-wrap {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			box-sizing: content-box;

			background-color: @image-bg;
			font-size: 0; // for proper vertical alignment with small images
			text-align: center;

			&::before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			img {
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}
